## Task 4

You've been flown to their headquarters in Ulsan, South Korea, to assist them in accurately estimating the number of crew members a ship will need.

They're currently building new ships for certain customers, and they'd like you to create a model and utilize it to estimate how many crew members the ships will require.

Metadata:
1. Measurements of ship size 
2. capacity 
3. crew 
4. age for 158 cruise ships.

In [1]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Crew_Members_Predictor').getOrCreate()

It is saved in a csv file for you called "ITI_data.csv". our task is to develop a regression model that will assist in predicting the number of crew members required for future ships. The client also indicated that they have found that particular cruise lines will differ in acceptable crew counts, thus this is most likely an important factor to consider when conducting your investigation.

In [2]:
df = spark.read.csv('ITI_data.csv',header=True,inferSchema=True)
df.show(5)

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
only showing top 5 rows

In [15]:
from pyspark.sql.functions import countDistinct
df.select(countDistinct("Cruise_line")).show()

+---------------------------+
|count(DISTINCT Cruise_line)|
+---------------------------+
|                         20|
+---------------------------+

In [16]:
df.printSchema()

root
 |-- Ship_name: string (nullable = true)
 |-- Cruise_line: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tonnage: double (nullable = true)
 |-- passengers: double (nullable = true)
 |-- length: double (nullable = true)
 |-- cabins: double (nullable = true)
 |-- passenger_density: double (nullable = true)
 |-- crew: double (nullable = true)

In [17]:
df.count()

158

### OneHotEncoder

In [18]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder
from pyspark.ml.feature import VectorAssembler

In [19]:
categoricalCols = [field for (field, dataType) in df.dtypes
                   if dataType == "string" and field !='Ship_name']
categoricalCols

['Cruise_line']

In [20]:
indexOutputCols = [x + "_Index" for x in categoricalCols]
indexOutputCols

['Cruise_line_Index']

In [21]:
oheOutputCols = [x + "_OHE" for x in categoricalCols]
oheOutputCols

['Cruise_line_OHE']

In [22]:
stringIndexer = StringIndexer(inputCols=categoricalCols,
                             outputCols=indexOutputCols,
                             handleInvalid='skip')
oheEncoder = OneHotEncoder(inputCols=indexOutputCols,
                          outputCols=oheOutputCols)

In [23]:
numericCols = [field for (field,dataType) in df.dtypes
              if ((dataType=='double')& (field!='crew'))]
numericCols

['Tonnage', 'passengers', 'length', 'cabins', 'passenger_density']

In [24]:
assemblerInputs = oheOutputCols + numericCols
assemblerInputs

['Cruise_line_OHE',
 'Tonnage',
 'passengers',
 'length',
 'cabins',
 'passenger_density']

###Use VectorAssembler to merge all columns into one column:

In [27]:
vecAssembler = VectorAssembler(inputCols=assemblerInputs,outputCol='features')

VectorAssembler_d58303026d07

### Create a Linear Regression Model

In [26]:
from pyspark.ml.regression import LinearRegression

lr = LinearRegression(featuresCol='features',labelCol='crew')

# Split data

In [28]:
X_train, X_test = df.randomSplit([0.8,0.2],seed=0)

### Creating a Pipeline

In [29]:
# Building the pipeline
from pyspark.ml import Pipeline

pipeline = Pipeline(stages=[stringIndexer,oheEncoder,vecAssembler,lr])
pipelineModel = pipeline.fit(X_train)

In [30]:
predDF = pipelineModel.transform(X_test)

In [31]:
predDF.show()

+-------------+----------------+---+------------------+----------+------+------+-----------------+-----+-----------------+---------------+--------------------+------------------+
|    Ship_name|     Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density| crew|Cruise_line_Index|Cruise_line_OHE|            features|        prediction|
+-------------+----------------+---+------------------+----------+------+------+-----------------+-----+-----------------+---------------+--------------------+------------------+
|         Dawn|       Norwegian| 11|              90.0|      22.4|  9.65|  11.2|            40.18| 11.0|              4.0| (19,[4],[1.0])|(24,[4,19,20,21,2...|10.712117947988038|
|         Dawn|        Princess| 16|            77.499|      19.5|  8.56|  10.5|            39.74|  9.0|              2.0| (19,[2],[1.0])|(24,[2,19,20,21,2...| 9.103494234997342|
|      Empress| Royal_Caribbean| 23|            48.563|      20.2|  6.92|   8.0|            24.04| 6.71|              1.0| (19,[1],[1.0])|(24,[1,19,20,21,2...| 4.814907520842229|
|  Enchantment| Royal_Caribbean| 16|            74.137|      19.5|  9.16|  9.75|            38.02|  7.6|              1.0| (19,[1],[1.0])|(24,[1,19,20,21,2...| 7.680063045281011|
|      Eurodam|Holland_American|  5|              86.0|     21.04|  9.36| 10.22|            40.87|  8.0|              3.0| (19,[3],[1.0])|(24,[3,19,20,21,2...|  9.02278492541252|
|  Fascination|        Carnival| 19|            70.367|     20.52|  8.55|  10.2|            34.29|  9.2|              0.0| (19,[0],[1.0])|(24,[0,19,20,21,2...| 9.083643196215782|
|      Fortuna|           Costa| 10|             105.0|      27.2|   8.9| 13.56|             38.6|10.68|              5.0| (19,[5],[1.0])|(24,[5,19,20,21,2...|10.867637223112482|
|      Freedom| Royal_Caribbean|  7|             158.0|      43.7| 11.12|  18.0|            36.16| 13.6|              1.0| (19,[1],[1.0])|(24,[1,19,20,21,2...| 13.67303365736008|
| Independence| Royal_Caribbean|  5|             160.0|     36.34| 11.12| 18.17|            44.03| 13.6|              1.0| (19,[1],[1.0])|(24,[1,19,20,21,2...|14.466867326660239|
|       Island|        Princess| 10| 91.62700000000001|     19.74|  9.64|  9.87|            46.42|  9.0|              2.0| (19,[2],[1.0])|(24,[2,19,20,21,2...| 9.522311240409117|
|      Liberty| Royal_Caribbean|  6|             158.0|      43.7| 11.25|  18.0|            36.16| 13.6|              1.0| (19,[1],[1.0])|(24,[1,19,20,21,2...|13.747420446192201|
|     Liberty*|        Carnival|  8|             110.0|     29.74|  9.51| 14.87|            36.99| 11.6|              0.0| (19,[0],[1.0])|(24,[0,19,20,21,2...|12.600297292941562|
|        Libra|            Star| 12|              42.0|      14.8|  7.13|   7.4|            28.38|  6.8|             10.0|(19,[10],[1.0])|(24,[10,19,20,21,...|  7.99885527620041|
|        Magic|          Disney| 15|            83.338|      17.5|  9.64|  8.75|            47.62| 9.45|             18.0|(19,[18],[1.0])|(24,[18,19,20,21,...|  9.45498656025972|
|      Mariner| Royal_Caribbean| 10|             138.0|     31.14|  10.2| 15.57|            44.32|11.85|              1.0| (19,[1],[1.0])|(24,[1,19,20,21,2...|12.264713644319244|
|      Mercury|       Celebrity| 16| 77.71300000000001|     18.82|  8.66|  9.35|            41.29| 9.09|              6.0| (19,[6],[1.0])|(24,[6,19,20,21,2...| 9.150607788495506|
|        Opera|             MSC|  9|            59.058|      17.0|  7.63|   8.5|            34.74|  7.4|              7.0| (19,[7],[1.0])|(24,[7,19,20,21,2...| 7.014588150557786|
|      Pacific|        Princess| 14|30.276999999999997|      6.86|  5.93|  3.44|            44.14| 3.73|              2.0| (19,[2],[1.0])|(24,[2,19,20,21,2...| 3.138587905729218|
|     Paradise|        Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29|  9.2|              0.0| (19,[0],[1.0])|(24,[0,19,20,21,2...| 9.083643196215782|
|QueenVictoria|          Cunard|  6|              90.0|      20.0|  9.64| 10.29|             45.0|  9.0|             14.0|(19,[14],[1.0])|(24,[14,19,20,21,...|10.069787114553865|
+-------------+----------------+---+------------------+----------+------+------+-----------------+-----+-----------------+---------------+--------------------+------------------+
only showing top 20 rows

### Model Evaluation

In [32]:
# Using RMSE
from pyspark.ml.evaluation import RegressionEvaluator

regressionEvaluator = RegressionEvaluator(predictionCol='prediction',
                                         labelCol='crew',
                                         metricName='rmse')

rmse = regressionEvaluator.evaluate(predDF)
#print("RMSE is {:.1f}".format(rmse))
print(f"RMSE is {rmse:.1f}")

# Using R^2
r2 = RegressionEvaluator(predictionCol='prediction',
                                         labelCol='crew',
                                         metricName='r2').evaluate(predDF)
print(f"R2 is {r2}")

RMSE is 0.7
R2 is 0.9528590212289405